/*
*   CX CSS Framework
*   Version 0.6 Alpha - Build 28
*   By Alex
*   
*   CX V1 Licence - Must show copyright in website at all times
*/

:root {
    /*--color-primary: rgb(0, 188, 212) #21a366;
    --color-primary-hover: rgb(0, 171, 194);
    --color-primary-dk: rgb(0, 159, 180);
    --color-primary-transparent: rgba(0, 159, 180, 0.1);
    --color-primary-text: rgb(255, 255, 255);
*/
    --color-primary: #00796B;
    --color-primary-hover: #00695d;
    --color-primary-dk: rgb(0, 159, 180);
    --color-primary-transparent: rgba(0, 159, 180, 0.1);
    --color-primary-text: rgb(255, 255, 255);

    --color-secondary: rgb(63, 81, 181);
    --color-secondary-hover: rgb(55, 71, 160);
    --color-secondary-text: white;


    --color-text: rgb(39, 39, 39);
    --color-background: white;
 
    --font-main: 'Roboto', sans-serif;
    --font-aux1: 'Roboto Mono', sans-serif;

    --cursor-normal: default;
    --cursor-hover: pointer;
}

/*
* C'est qui les enfants de BODY? 
*/

body {
    margin: 0;
    position: relative;
    background-color: white;
    background-color: var(--color-background);
    color: black;
    color: var(--color-text);
}

body.full__screen__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {}

/*
* Header
*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    box-shadow: 0px 0px 8px 4px rgba(128, 128, 128, 0.349);
    z-index: 100;
}

header>.header__content {
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 10px;
    min-height: 60px;
}

header>.header__content>.header__branding {
    display: flex;
    align-items: center;
    gap: 5px;
}

header>.header__content>nav>* {
    display: inline-block;
    vertical-align: middle;
}

.header__branding>img {
    height: 32px;
    max-width: 1280px;
    margin: auto;
    background-color: white;
    box-sizing: border-box;

}

.header__branding>p {
    margin: 0;
    vertical-align: middle;
    margin: 0 2px;
}



/*
* Typography
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--font-main);
}

h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {
    h1 {
        font-size: 2.5rem
    }
}

h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
    h2 {
        font-size: 2rem
    }
}

h3 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {
    h3 {
        font-size: 1.75rem
    }
}

h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    h4 {
        font-size: 1.5rem
    }
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 22px;
}

p.text--greyed{
    color: gray;
}

.flex__spacer {
    flex-grow: 1;
}

a {
    color: var(--color-primary);
    font-family: var(--font-main);
    text-decoration: none;
}



/* 
* Buttons 
*/

button,
.button {
    color: inherit;
    font-size: 14px;
    border: none;
    line-height: 37px;
    padding: 0 14px;
    border-radius: 3px;
    font-family: var(--font-aux1);
    transition: 0.3s;
    margin: 0 3px 0 3px;
    background-color: transparent;
    position: relative;
    box-sizing: border-box;
}

button>*,
.button>* {
    vertical-align: middle;
}

button>.icon,
.button>.icon {
    font-size: 19px;
    line-height: 16px;
}

button.button--colored,
.button.button--colored {
    color: blue;
    color: var(--color-primary);
}

button:hover,
.button:hover {
    background-color: rgba(53, 53, 53, 0.123);
    cursor: var(--cursor-hover);
}

button.button--filled,
.button.button--filled {
    background-color: blue;
    background-color: var(--color-primary);
    color: white;
    color: var(--color-primary-text);
    /*border-bottom: 3px solid var(--color-primary-dk);*/
}

button.button--filled:hover,
.button.button--filled:hover {
    background-color: blue;
    background-color: var(--color-primary-hover);
    transform: scale(1.03) rotate(3deg);
}

button.button--filled.color--secondary,
.button.button--filled.color--secondary {
    background-color: rgb(255, 251, 0);
    background-color: var(--color-secondary);
    color: black;
    color: var(--color-secondary-text);
}

button.button--filled:hover.color--secondary,
.button.button--filled:hover.color--secondary {
    background-color: rgb(255, 251, 0);
    background-color: var(--color-secondary-hover);
}


button.button--icon,
.button.button--icon {
    width: 36px;
    height: 36px;
    color: inherit;
    font-size: 16px;
    padding: 0px;
    border-radius: 3px;
    margin: 0;
    background-color: transparent;
    position: relative;
}

button.button--icon:hover,
.button.button--icon:hover {
    background-color: rgba(128, 128, 128, 0.137);
}

button.button--icon>.icon,
.button.button--icon>.icon {
    position: absolute;
    margin: 0;
    top: calc(50% - 8px);
    left: calc(50% - 10px);

    font-size: 21px;
}

button.button--large,
.button.button--large {
    line-height: 44px;
    padding: 0 22px;
    font-size: 16px;
}

button.button--list,
.button.button--list{
    width: 100%;
    text-align: left;
    line-height: 45px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
}

button.button--list > .icon,
.button.button--list > .icon{
    font-size: 21px;
}

button.button--list.selected,
.button.button--list.selected{
    color: var(--color-primary);
}

button > p, .button > p{
    margin: 0;
}


/*
* Sections
*/

section {
    position: relative;
    margin: 0;
    padding: 40px 0;
}

section>.section__content {
    padding: 0 20px;
    max-width: 1280px;
    margin: auto;
}

section.section--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section>.section__content--wide {
    padding: 10px 0;
    max-width: none;
    margin: 0;
}

section.section__hero {
    background-color: blue;
    background-color: var(--color-primary);
    color: white;
    color: var(--color-primary-text);
}

section.section__height--15 {
    height: 15vh;
}

section.section__height--25 {
    height: 25vh;
}

section.section__height--35 {
    height: 35vh;
}

section.section__height--50 {
    height: 50vh;
}

section.section__height--75 {
    height: 70vh;
}


/*
* Grid Layout
*/

.grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.cell {
    margin: 8px;
    box-sizing: border-box;
}

.cell.cell--nomar{
    margin: 0;
    padding: 8px;
    box-sizing: content-box;
}

.DEMO__cell {
    background-color: grey;
    color: white;
}


.cell__col--1, .cell__col--1.cell--static {
    width: calc(8.33% - 16px);
}

.cell__col--2, .cell__col--2.cell--static {
    width: calc(16.66% - 16px);
}

.cell__col--3, .cell__col--3.cell--static {
    width: calc(25% - 16px);
}

.cell__col--4, .cell__col--4.cell--static {
    width: calc(33.33% - 16px);
}

.cell__col--5, .cell__col--5.cell--static {
    width: calc(41.66% - 16px);
}

.cell__col--6, .cell__col--6.cell--static {
    width: calc(50% - 16px);
}

.cell__col--7, .cell__col--7.cell--static {
    width: calc(58.33% - 16px);
}

.cell__col--8, .cell__col--8.cell--static {
    width: calc(66.66% - 16px);
}

.cell__col--9, .cell__col--9.cell--static {
    width: calc(75% - 16px);
}

.cell__col--10, .cell__col--10.cell--static{
    width: calc(83.33 - 16px);
}

.cell__col--11 .cell__col--11.cell--static{
    width: calc(91.66% - 16px);
}

.cell__col--12{
    width: calc(100% - 2px);
}

@media only screen and (max-width: 800px) {

    .cell__col--1,
    .cell__col--2,
    .cell__col--3,
    .cell__col--4 {
        width: calc(25% - 16px);
    }

    .cell__col--5,
    .cell__col--6,
    .cell__col--7,
    .cell__col--8 {
        width: calc(50% - 16px);
    }

    .cell__col--9,
    .cell__col--10,
    .cell__col--11,
    .cell__col--12 {
        width: calc(100% - 16px);
    }
}

@media only screen and (max-width: 400px) {

    .cell__col--1,
    .cell__col--2,
    .cell__col--3,
    .cell__col--4 {
        width: calc(50% - 16px);
    }

    .cell__col--5,
    .cell__col--6,
    .cell__col--7,
    .cell__col--8,
    .cell__col--9,
    .cell__col--10,
    .cell__col--11,
    .cell__col--12 {
        width: calc(100% - 16px);
    }
}

.cell--no-pad {
    padding: 0;
    margin: 0;
}



/*
* Mobile view
*/

@media (max-width: 800px) {
    .cell {
        width: calc(100% - 16px);
    }
}


/*
* Inputs
*/

input {
    font-size: 16px;
    line-height: 32px;
    border: none;
    background-color: rgba(66, 66, 66, 0.048);
    border-bottom: 3px solid rgba(63, 62, 62, 0.322);
    border-radius: 3px;
    transition: 0.3s;
    padding: 2px 10px;
    font-family: var(--font-main);
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: var(--color-primary-transparent);
    border-bottom: 3px solid var(--color-primary);
}

input.input__full {
    width: 100%;
    line-height: 48px;
}


input[type="color"]{
    border: none;
    padding: 0;
    margin: 0;
    width: 22px;
    height: 22px;
}


/*
* Backgrounds
*/

.color--white {
    color: white !important;
}

.bg--primary {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
}

button.bg--primary:hover, .bg--primary.bg--darker {
    background-color: var(--color-primary-hover);
}

.bg--white {
    background-color: white !important;
    color: rgb(39, 39, 39) !important;
}

/*
* Lists
*/

ul {
    padding-left: 26px;
}

ul>li {
    font-family: var(--font-main);
    line-height: 22px;
    font-size: 16px;
}



.list {
    display: flex;
    padding: 4px;
    box-sizing: border-box;
}

.list--horizontal {
    align-items: center;
    gap: 6px;
}

.list__spacer {
    flex-grow: 1;
}


/*
* Global parameters
*/

.m--0 {
    margin: 0;
}

.p--0 {
    padding: 0;
}

/*
* Separators
*/

hr{
    border: none;
    border-top: 1px solid rgb(189, 189, 189);
}